.first-div {
    width: 100px;
    height: 100px;
    background: orange;
    display: inline-block;
}

#second-div {
    background-color: blueviolet; 
}

#second-div > .test {
    display: block; 
}