body {
    margin: 0;
}

.header {
    width: 100%;
    height: 200px;
    background: rgb(197, 134, 240);
}

#nav {
    width: 100%;
    height: 50px;
    background-color: rgb(60, 240, 246);
}
🍉🍭🎨
.section{
    width: 60%;
    height: 600px;
    background: rgb(253, 21, 234);
    float: left;
}
#aside{
    width: 40%;
    height: 600px;
    background: rgb(253, 166, 231);
    float: left;
}
.section > #article{
    background: rgb(50, 248, 205);
    
}

footer{
    width: 100%;
    height: 100px;
    background: rgb(195, 0, 255);
    float: left;

}